@model List<LimestoneDigitalTask.Models.DTO.ShortProductInfoDTO>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string code = Request["promocode"];
}

<div class="row col-sm-12">

    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <img src="@item.Image" alt="@item.Name" class="col-sm-12">
            <h4>@Html.Label(item.Name)</h4>
            @if (item.SalePrice != 0)
            {
                <h4>Price: <span style="color: darkgray; text-decoration: line-through;">@item.Price.ToString()₴</span> <span style="color: red">@Html.Label(item.SalePrice + "₴ (-" + item.Discount + "%)")</span></h4>
            }
            else
            {
                <h4>Price: @Html.Label(item.Price.ToString())</h4>
            }
            <div class="text-center">
                @if (String.IsNullOrEmpty(code))
                {
                    <h2>@Html.ActionLink("see more", "Product", "Home", new { id = item.Id }, null)</h2>
                }
                else
                {
                    <h2>@Html.ActionLink("see more", "Product", "Home", new { promocode = code, id = item.Id }, null)</h2>
                }
            </div>
        </div>
    }
</div>